.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--chakra-colors-gray-800);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
  height: 48px;
}

.light {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
  width: 100%;
  max-width: var(--chakra-sizes-container-xl);
  margin: 0 auto;
}

.logoLink {
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.searchContainer {
  width: 300px;
}

.colorModeContainer {
  display: flex;
  align-items: center;
  padding-left: 16px;
}

@media (min-width: 48em) {
  .navbar {
    height: 56px;
  }

  .content {
    padding: 0 24px;
  }

  .searchContainer {
    width: 400px;
  }
}

@media (min-width: 62em) {
  .searchContainer {
    width: 500px;
  }
}
