.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--chakra-colors-gray-800);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
}

.light {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  align-items: center;
  padding: 8px;
}

.logoLink {
  display: flex;
  padding-left: 12px;
}

.searchContainer {
  flex: 1;
  margin: 0 24px;
}

.colorModeContainer {
  padding-right: 12px;
}
