body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100vw;
}

#root {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  width: 100%;
}
