* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

img,
video,
iframe,
table {
  max-width: 100%;
  height: auto;
}

#root {
  width: 100%;
  overflow-x: hidden;
}
